## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo

#Readme Check Logs
readme-check-logs

#Ignore List for Microchip's MPLAB X IDE
#It's a form of NetBeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375
#Updated by Cristian Cristea (https://github.com/cristiancristea00)

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
.generated_files/
